<div class="brand">
  <div class="logo">H</div>
  <div class="name">HexaDash</div>
</div>

<div class="sec">MENU</div>

<a class="item" routerLink="/app/ligas" routerLinkActive="active">
  <i class="bi bi-trophy"></i><span>Ligas</span>
</a>

<a class="item" routerLink="/app/equipos" routerLinkActive="active">
  <i class="bi bi-people"></i><span>Equipos</span>
</a>

<a class="item" routerLink="/app/entrenadores" routerLinkActive="active">
  <i class="bi bi-person-badge"></i><span>Entrenadores</span>
</a>

<a class="item" routerLink="/app/jugadores" routerLinkActive="active">
  <i class="bi bi-person"></i><span>Jugadores</span>
</a>

<a class="item" routerLink="/app/competencias" routerLinkActive="active">
  <i class="bi bi-calendar2-event"></i><span>Competencias</span>
</a>

<div class="sec mt">INSIGHTS</div>

<a class="item" routerLink="/app/stats" routerLinkActive="active">
  <i class="bi bi-graph-up"></i><span>Estadísticas</span>
</a>
